<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
    <h1>ACS Medical college</h1> 
    </div>
    <div class="container-fluid">
        <div class="col-lg-3">
        <a href=""class='btn btn-primary btn-block'>Fees</a>
        <a href=""class='btn btn-primary btn-block'>Infrastructure</a>
        <a href=""class='btn btn-primary btn-block'>Courses</a>
        <a href=""class='btn btn-primary btn-block'>Placement</a>
        <a href=""class='btn btn-primary btn-block'>Hostels</a>
        <a href=""class='btn btn-primary btn-block'>Enquiry</a>
</div>
     
     <div class="container-fluid bg-success col-lg-9">
        {%block content%}
        <h1>Deemed college</h1>
        <p>Being a developing nation, health and hygiene are mainstays in terms of national priority. With so many people living below the poverty line, statistics reveal that unhealthy living conditions will lead to disease and epidemics, unless a proactive approach by the medical community is put into action. Keeping these in mind, Dr. M.G.R. University’s Faculty of Medical Sciences was established. Besides imparting necessary medical and technological skills, the university also encourages students to be more active as a student-medical community to improve health conditions in the nation.

            The Faculty of Medical Sciences is an important department in the university and has a huge intake of students each year. The department comes fully equipped with a state-of-the-art laboratory and the department utilizes most modern equipments and technology. The quality of education and infrastructural advantage the university offers is one of the best in the country. The Faculty of Medical Sciences occupies a large area of campus space.</p>
        
        <div class="col-lg-3 thumbnail">
            <img src="https://www.drmgrdu.ac.in/uploads/FoM/ACSMCH.jpg"class="img-responsive">
         </div>
         <div class="col-lg-4 thumbnail">   
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThOfHBNLVxVrXSHg-cVdhbZtfJDi1VqRcKpQ&usqp=CAU"class="img-responsive">
         </div>
         <div class="col-lg-5 thumbnail">   
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrIacWOG6zb2oJ1IXDX7PYihbAiuaCE9XdAg&usqp=CAU"class="img-responsive">
            {%endblock%}
       
        </div> 
           
    
        </div>
    
</body>
</html>